<div class="clear">
  <!-- Give the footer some breathing room on smaller displays -->
</div>

<div class="footer">
  <% if (typeof footer.name === "string") { %>
    <p>
      <a href="<%=footer.link%>">
        <%=footer.name%>
      </a>
    </p>
  <% } %>
  <p>
    <a href="<%=problem_url%>">
      Report a Problem
    </a>
    <i class="material-icons">open_in_new</i>
  </p>
  <p>
    <a href="https://github.com/confused-Techie/student-point-tracker">
      Open Source
    </a>
    <i class="material-icons" aria-hidden="true">code</i>
  </p>
</div>
</body>
<% for (let i = 0; i < filename.length; i++) { %>
  <script src="/<%=filename[i]%>"></script>
<% } %>
<script src="https://unpkg.com/material-components-web@14.0.0/dist/material-components-web.min.js"></script>
</html>
