<div class="text-center">
  <h1><%=name%></h1>
  <form class="search-bar" action="/students/">
    <input class="search-box" type="search" value="" name="q" placeholder="Search Students..." />
    <button type="submit">
      <i class="fas fa-maginifying-glass"></i>
      Search
    </button>
  </form>
</div>
