<div class="text-center">
  <h1><%=name%></h1>
  <form class="search-bar" action="/students/">
    <!--<input class="search-box" type="search" value="" name="q" placeholder="Search Students..." />
    <button type="submit">
      <i class="fas fa-maginifying-glass"></i>
      Search
    </button>-->
    <div class="search-box">
      <div class="inner-search-box">
        <div class="search-icon">

        </div>
        <div class="text-container">
          <textarea id="search" maxlength="2048" wrap="off" name="q" rows="1" aria-activedescendant aria-autocomplete="both" title="Search" type="search"></textarea>
        </div>
      </div>
    </div>

    <div class="search-results" id="search-results">
    </div>

  </form>
</div>
