<%- include("./partials/header"); %>
<div class="center-logout-view">
<div class="mdc-elevation--z12">
  <div class="mdc-card">
    <div class="mdc-card__primary-action" tabindex="0">
      <div class="mdc-card__secondary mdc-typography mdc-typography--body1">
        This page does not exist. <%=name%> before continuing.
    </div>
  </div>
</div>
</div>

<%- include("./partials/footer", { filename: "" }); %>
