@import "./views/assets/themes/dark";

body {
  // background-color: @canvas;
  // color: @text;
  // font-size: 14px;
  // font-family: Roboto,arial,sans-serif;
}

.text-center {
  text-align: center;
}

#search-bar {
  margin: 0 auto;
  padding-top: 6px;
  width: 66.66%;
  max-width: 48rem;
  position: relative;
}

#search-results {
  padding-top: 6px;
  width: 66.66%;
  max-width: 40rem;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.text-field-shaped__leading {
  border-radius: 28px 0 0 28px !important;
  width: 28px !important;
}

.text-field-shaped__trailing {
  border-radius: 0 28px 28px 0 !important;
}

.text-field-shaped__notch {
  max-width: calc(100% - 28px * 2) !important;
}

.text-field-shaped__icon {
  left: 16px;
  right: auto;
  position: relative;
}

.text-field-shaped__input--icon {
  padding-left: 48px;
  padding-right: 16px;
}

.text-field-shaped__input {
  padding-left: 16px;
  padding-right: 16px;
}

.mdc-card {
  padding: 16px;
}

.mdc-slider {
  margin-top: 3rem !important;
}
