@import "./views/assets/themes/dark";

:root {
  // --mdc-theme-primary: @primary;
  // --mdc-theme-secondary: ;
  // --mdc-theme-background: @canvas;
  // --mdc-theme-surface: ;
  // --mdc-theme-error: ;
  // --mdc-theme-on-primary: ;
  // --mdc-theme-on-secondary: ;
  // --mdc-theme-on-surface: ;
  // --mdc-theme-on-error: ;
  // --mdc-theme-text-primary-on-background: @text;
  // --mdc-theme-text-secondary-on-background: ;
  // --mdc-theme-text-hint-on-background: ;
  // --mdc-theme-text-disabled-on-background: ;
  // --mdc-theme-text-icon-on-background: ;
  // --mdc-theme-text-primary-on-light: ;
  // --mdc-theme-text-secondary-on-light: ;
  // --mdc-theme-text-hint-on-light: ;
  // --mdc-theme-text-disabled-on-light: ;
  // --mdc-theme-text-icon-on-light: ;
  // --mdc-theme-text-primary-on-dark: ;
  // --mdc-theme-text-secondary-on-dark: ;
  // --mdc-theme-text-hint-on-dark: ;
  // --mdc-theme-text-disabled-on-dark: ;
  // --mdc-theme-text-icon-on-dark: ;
}

body {
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-text-primary-on-background);
  // font-size: 14px;
  // font-family: Roboto,arial,sans-serif;
}

.text-center {
  text-align: center;
}

#search-bar {
  margin: 0 auto;
  padding-top: 6px;
  width: 66.66%;
  max-width: 48rem;
  position: relative;
}

#search-results {
  padding-top: 6px;
  width: 66.66%;
  max-width: 40rem;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.text-field-shaped__leading {
  border-radius: 28px 0 0 28px !important;
  width: 28px !important;
}

.text-field-shaped__trailing {
  border-radius: 0 28px 28px 0 !important;
}

.text-field-shaped__notch {
  max-width: calc(100% - 28px * 2) !important;
}

.text-field-shaped__icon {
  left: 16px;
  right: auto;
  position: relative;
}

.text-field-shaped__input--icon {
  padding-left: 48px;
  padding-right: 16px;
}

.text-field-shaped__input {
  padding-left: 16px;
  padding-right: 16px;
}

.mdc-card {
  padding: 16px;
}

.mdc-slider {
  margin-top: 3rem !important;
}
